:root {
    --background: rgb(224, 234, 247);
    --header-background: white;
    --footer-background: rgb(243, 242, 242);
}

body {
    height: 100vh;
    font-family: 'Rubik', san-serif;
    background-color: rgb(61, 9, 77);
    display: grid;
    grid-template-rows: 1fr 1fr 3fr;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Cinzel', serif;
    background-color: cadetblue;
    font-size: 30px;
    text-shadow: 3px 5px 6px rgba(28,54,110,0.69);
}

.question-section {
    display: grid;
    justify-content: center;
    align-items: center;
}

textarea {
    height:30px;
    resize: vertical;
}

label {
    font-family: 'Cinzel', serif;  
    text-shadow: 3px 5px 6px rgba(169, 185, 219, 0.69);
    font-weight: bold;
    font-size: 20px;
    color:rgb(224, 234, 247)
}

.answer-container {
    display: grid;
    grid-template-rows: 1fr 3fr;
    justify-content: center;
}

p {
    justify-self: center;
    align-self: center;
    color:rgb(224, 234, 247)
}

img {
    height: 350px;
    justify-self: center;
    align-self: center;
}

